# We only include the CSV template
{{ if .Values.bundleGeneration }}
apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: {{ .Values.csv.capabilities }}
    categories: {{ .Values.csv.categories }}
    containerImage: {{ .Values.image }}
    description: {{ .Values.csv.description }}
    operators.operatorframework.io/internal-objects: '["wasmplugins.extensions.istio.io","destinationrules.networking.istio.io","envoyfilters.networking.istio.io","gateways.networking.istio.io","proxyconfigs.networking.istio.io","serviceentries.networking.istio.io","sidecars.networking.istio.io","virtualservices.networking.istio.io","workloadentries.networking.istio.io","workloadgroups.networking.istio.io","authorizationpolicies.security.istio.io","peerauthentications.security.istio.io","requestauthentications.security.istio.io","telemetries.telemetry.istio.io"]'
    repository: https://github.com/maistra/istio-operator/tree/maistra-3.0
    support: {{ .Values.csv.support }}
  name: {{ .Values.name }}.v{{ .Values.csv.version }}
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: IstioRevision represents a single revision of an Istio Service
        Mesh deployment. Users shouldn't create IstioRevision objects directly. Instead,
        they should create an Istio object and allow the Istio operator to create
        the underlying IstioRevision object(s).
      displayName: Istio Revision
      kind: IstioRevision
      name: istiorevisions.operator.istio.io
      specDescriptors:
      - description: 'Defines the version of Istio to install. Must be one of: v1.20.1,
          v1.20.0, v1.19.5, latest, gwAPIControllerMode.'
        displayName: Istio Version
        path: version
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:General
        - urn:alm:descriptor:com.tectonic.ui:select:v1.20.1
        - urn:alm:descriptor:com.tectonic.ui:select:v1.20.0
        - urn:alm:descriptor:com.tectonic.ui:select:v1.19.5
        - urn:alm:descriptor:com.tectonic.ui:select:latest
        - urn:alm:descriptor:com.tectonic.ui:select:gwAPIControllerMode
      - description: Namespace to which the Istio components should be installed.
        displayName: Namespace
        path: namespace
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:Namespace
      - description: Defines the values to be passed to the Helm charts when installing
          Istio.
        displayName: Helm Values
        path: values
      version: v1alpha1
    - description: Istio represents an Istio Service Mesh deployment consisting of
        one or more control plane instances (represented by one or more IstioRevision
        objects). To deploy an Istio Service Mesh, a user creates an Istio object
        with the desired Istio version and configuration. The Istio operator then
        creates an IstioRevision object, which in turn creates the underlying Deployment
        objects for istiod and other control plane components, similar to how a Deployment
        object in Kubernetes creates ReplicaSets that create the Pods.
      displayName: Istio
      kind: Istio
      name: istios.operator.istio.io
      specDescriptors:
      - description: "Type of strategy to use. Can be \"InPlace\" or \"RevisionBased\".
          When the \"InPlace\" strategy is used, the existing Istio control plane
          is updated in-place. The workloads therefore don't need to be moved from
          one control plane instance to another. When the \"RevisionBased\" strategy
          is used, a new Istio control plane instance is created for every change
          to the Istio.spec.version field. The old control plane remains in place
          until all workloads have been moved to the new control plane instance. \n
          The \"InPlace\" strategy is the default.\tTODO: change default to \"RevisionBased\""
        displayName: Type
        path: updateStrategy.type
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:select:InPlace
        - urn:alm:descriptor:com.tectonic.ui:select:RevisionBased
      - description: 'Defines the version of Istio to install. Must be one of: v1.20.1,
          v1.20.0, v1.19.5, latest, gwAPIControllerMode.'
        displayName: Istio Version
        path: version
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:fieldGroup:General
        - urn:alm:descriptor:com.tectonic.ui:select:v1.20.1
        - urn:alm:descriptor:com.tectonic.ui:select:v1.20.0
        - urn:alm:descriptor:com.tectonic.ui:select:v1.19.5
        - urn:alm:descriptor:com.tectonic.ui:select:latest
        - urn:alm:descriptor:com.tectonic.ui:select:gwAPIControllerMode
      - description: Defines how many seconds the operator should wait before removing
          a non-active revision after all the workloads have stopped using it. You
          may want to set this value on the order of minutes. The minimum and the
          default value is 30.
        displayName: Inactive Revision Deletion Grace Period (seconds)
        path: updateStrategy.inactiveRevisionDeletionGracePeriodSeconds
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:number
      - description: Defines whether the workloads should be moved from one control
          plane instance to another automatically. If updateWorkloads is true, the
          operator moves the workloads from the old control plane instance to the
          new one after the new control plane is ready. If updateWorkloads is false,
          the user must move the workloads manually by updating the istio.io/rev labels
          on the namespace and/or the pods. Defaults to false.
        displayName: Update Workloads Automatically
        path: updateStrategy.updateWorkloads
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
      - description: Namespace to which the Istio components should be installed.
        displayName: Namespace
        path: namespace
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes:Namespace
      - description: 'The built-in installation configuration profile to use. The
          ''default'' profile is always applied. On OpenShift, the ''openshift'' profile
          is also applied on top of ''default''. Must be one of: ambient, default,
          demo, empty, external, minimal, openshift, preview, remote.'
        displayName: Profile
        path: profile
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:hidden
      - description: Defines the non-validated values to be passed to the Helm charts
          when installing Istio.
        displayName: Raw Helm Values
        path: rawValues
      - description: Defines the update strategy to use when the version in the Istio
          CR is updated.
        displayName: Update Strategy
        path: updateStrategy
      - description: Defines the values to be passed to the Helm charts when installing
          Istio.
        displayName: Helm Values
        path: values
      version: v1alpha1
  description: |-
{{ indent 4 .Values.csv.longDescription }}
  displayName: {{ .Values.csv.displayName }}
  icon:
  - base64data: {{ .Values.csv.icon.base64data }}
    mediatype: {{ .Values.csv.icon.mediatype }}
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
{{- range .Values.csv.keywords }}
  - {{ . }}
{{- end }}
  links:
  - name: Istio Project
    url: https://istio.io
  maintainers:
  - email: istio-feedback@redhat.com
    name: OpenShift Service Mesh Team
  maturity: alpha
  provider:
    name: Red Hat, Inc.
  version: {{ .Values.csv.version }}
{{ end }}
