apiVersion: v1
kind: ServiceAccount
metadata:
  name: wasm-cacher-{{ .Values.revision | default "default" }}
  namespace: {{ .Release.Namespace }}
  labels:
    maistra-version: "2.1.0"
    app: wasm-cacher
    istio.io/rev: {{ .Values.revision | default "default" }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
