{{- if .Values.prometheus.ingress.enabled -}}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: prometheus
  namespace: {{ .Release.Namespace }}
  labels:
    maistra-version: "2.3.0"
    app: prometheus
    release: {{ .Release.Name }}
  annotations:
    {{- range $key, $value := .Values.prometheus.ingress.annotations }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  to:
    kind: Service
    name: prometheus
  tls:
    termination: reencrypt
    insecureEdgeTerminationPolicy: Redirect
{{- end -}}
