apiVersion: v1
kind: List
metadata:
  name: tracing-services
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.provider }}
    chart: {{ template "tracing.chart" . }}
    heritage: {{ .Release.Service }}
    maistra-version: 1.1.3
    release: {{ .Release.Name }}
items:
- apiVersion: v1
  kind: Service
  metadata:
    name: zipkin
    namespace: {{ .Release.Namespace }}
    labels:
      app: {{ .Values.provider }}
{{ if eq .Values.provider "jaeger" }}
      jaeger-infra: zipkin-service
{{ end }}
      chart: {{ template "tracing.chart" . }}
      heritage: {{ .Release.Service }}
      release: {{ .Release.Name }}
  spec:
    type: {{ .Values.service.type }}
    ports:
      - port: {{ .Values.zipkin.queryPort }}
        targetPort: {{ .Values.zipkin.queryPort }}
        protocol: TCP
        name: {{ .Values.service.name }}
    selector:
{{ if eq .Values.provider "jaeger" }}
  {{ if eq .Values.jaeger.template "all-in-one"}}
      app.kubernetes.io/name: jaeger
      app.kubernetes.io/component: all-in-one
  {{ else }}
      app.kubernetes.io/name: jaeger-collector
      app.kubernetes.io/component: collector
  {{ end }}
      app.kubernetes.io/instance: jaeger
      app.kubernetes.io/part-of: jaeger
      app.kubernetes.io/managed-by: jaeger-operator
{{ else }}
      app: {{ .Values.provider }}
{{ end }}
