{{ if and (eq .Values.provider "jaeger") (eq (.Values.jaeger.agentStrategy | default "" | lower) "daemonset") }}
apiVersion: v1
kind: ServiceAccount
{{- if .Values.global.imagePullSecrets }}
imagePullSecrets:
{{- range .Values.global.imagePullSecrets }}
  - name: {{ . }}
{{- end }}
{{- end }}
metadata:
  name: jaeger-agent
  namespace: {{ .Release.Namespace }}
  labels:
    app: jaeger
    chart: {{ template "tracing.chart" . }}
    heritage: {{ .Release.Service }}
    maistra-version: 1.1.10
    release: {{ .Release.Name }}
{{ end }}
