{{- if and (.Values.enabled) (index .Values "istio-ingressgateway" "enabled") (index .Values "istio-ingressgateway" "ior_enabled") }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ior
  namespace: {{ .Release.Namespace }}
  labels:
    app: ior
    chart: {{ template "gateway.chart" . }}
    heritage: {{ .Release.Service }}
    maistra-version: 1.1.2
    release: {{ .Release.Name }}
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  selector:
    matchLabels:
      app: ior
  template:
    metadata:
      labels:
        app: ior
        chart: {{ template "gateway.chart" . }}
        heritage: {{ .Release.Service }}
        maistra-control-plane: {{ .Release.Namespace }}
        release: {{ .Release.Name }}
    spec:
      volumes:
      - name: istio-certs
        secret:
          secretName: istio.ior
          optional: true
{{- if .Values.global.priorityClassName }}
      priorityClassName: "{{ .Values.global.priorityClassName }}"
{{- end }}
{{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
{{- range .Values.global.imagePullSecrets }}
      - name: {{ . }}
{{- end }}
{{- end }}
      serviceAccountName: ior
      containers:
      - name: ior
{{- if contains "/" (index .Values "istio-ingressgateway" "ior_image") }}
        image: "{{ index .Values "istio-ingressgateway" "ior_image" }}"
{{- else }}
        image: "{{ .Values.global.hub }}/{{ index .Values "istio-ingressgateway" "ior_image" }}:{{ .Values.global.tag }}"
{{- end }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        args:
        - --namespace={{ .Release.Namespace }}
{{- if $.Values.global.controlPlaneSecurityEnabled }}
        - --mcp-address=mcps://istio-galley.{{ $.Release.Namespace }}.svc:9901
        - --certFile=/etc/certs/cert-chain.pem
        - --keyFile=/etc/certs/key.pem
        - --caCertFile=/etc/certs/root-cert.pem
{{- else }}
        - --mcp-address=mcp://istio-galley.{{ $.Release.Namespace }}.svc:9901
{{- end }}
        volumeMounts:
        - name: istio-certs
          mountPath: /etc/certs
          readOnly: true

        resources:
{{ toYaml .Values.global.defaultResources | indent 10 }}
      affinity:
      {{- include "nodeaffinity" . | indent 6 }}
{{- end }}
