apiVersion: v1
data:
  session_secret: ""
kind: Secret
metadata:
  name: grafana-proxy
  namespace: {{ .Release.Namespace }}
  labels:
    maistra-version: "2.3.11"
    app: grafana
    release: {{ .Release.Name }}
type: Opaque
