{{ if .Values.cni.enabled }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    maistra-version: "2.3.11"
  name: istio-cni
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: istio-cni
subjects:
  - kind: ServiceAccount
    name: istio-cni
    namespace: {{ .Release.Namespace }}
{{ end }}