apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-operator
  namespace: istio-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: istio-operator
  template:
    metadata:
      labels:
        name: istio-operator
      annotations:

        olm.relatedImage.v2_1.cni: quay.io/maistra/istio-cni-ubi8:2.1.4
        olm.relatedImage.v2_1.grafana: quay.io/maistra/grafana-ubi8:2.1.4
        olm.relatedImage.v2_1.pilot: quay.io/maistra/pilot-ubi8:2.1.4
        olm.relatedImage.v2_1.prometheus: quay.io/maistra/prometheus-ubi8:2.1.4
        olm.relatedImage.v2_1.proxyv2: quay.io/maistra/proxyv2-ubi8:2.1.4
        olm.relatedImage.v2_1.wasm-cacher: quay.io/maistra/pilot-ubi8:2.1.4
        olm.relatedImage.v2_1.rls: quay.io/maistra/ratelimit-ubi8:2.1.4

        olm.relatedImage.v2_2.cni: quay.io/maistra/istio-cni-ubi8:2.2.2
        olm.relatedImage.v2_2.grafana: quay.io/maistra/grafana-ubi8:2.2.2
        olm.relatedImage.v2_2.pilot: quay.io/maistra/pilot-ubi8:2.2.2
        olm.relatedImage.v2_2.prometheus: quay.io/maistra/prometheus-ubi8:2.2.2
        olm.relatedImage.v2_2.proxyv2: quay.io/maistra/proxyv2-ubi8:2.2.2
        olm.relatedImage.v2_2.wasm-cacher: quay.io/maistra/pilot-ubi8:2.2.2
        olm.relatedImage.v2_2.rls: quay.io/maistra/ratelimit-ubi8:2.2.2

        olm.relatedImage.v2_3.cni: quay.io/maistra/istio-cni-ubi8:2.3.0
        olm.relatedImage.v2_3.grafana: quay.io/maistra/grafana-ubi8:2.3.0
        olm.relatedImage.v2_3.pilot: quay.io/maistra/pilot-ubi8:2.3.0
        olm.relatedImage.v2_3.prometheus: quay.io/maistra/prometheus-ubi8:2.3.0
        olm.relatedImage.v2_3.proxyv2: quay.io/maistra/proxyv2-ubi8:2.3.0
        olm.relatedImage.v2_3.rls: quay.io/maistra/ratelimit-ubi8:2.3.0

        olm.relatedImage.v2_4.cni: quay.io/maistra/istio-cni-ubi8:2.4.0
        olm.relatedImage.v2_4.grafana: quay.io/maistra/grafana-ubi8:2.4.0
        olm.relatedImage.v2_4.pilot: quay.io/maistra/pilot-ubi8:2.4.0
        olm.relatedImage.v2_4.prometheus: quay.io/prometheus/prometheus:v2.42.0
        olm.relatedImage.v2_4.prometheus-config-reloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.63.0
        olm.relatedImage.v2_4.proxyv2: quay.io/maistra/proxyv2-ubi8:2.4.0
        olm.relatedImage.v2_4.rls: quay.io/maistra/ratelimit-ubi8:2.4.0

        olm.relatedImage.v2_5.cni: quay.io/maistra/istio-cni-ubi8:2.5.0
        olm.relatedImage.v2_5.grafana: quay.io/maistra/grafana-ubi8:2.5.0
        olm.relatedImage.v2_5.pilot: quay.io/maistra/pilot-ubi8:2.5.0
        olm.relatedImage.v2_5.prometheus: quay.io/prometheus/prometheus:v2.42.0
        olm.relatedImage.v2_5.prometheus-config-reloader: quay.io/prometheus-operator/prometheus-config-reloader:v0.63.0
        olm.relatedImage.v2_5.proxyv2: quay.io/maistra/proxyv2-ubi8:2.5.0
        olm.relatedImage.v2_5.rls: quay.io/maistra/ratelimit-ubi8:2.5.0

    spec:
      serviceAccountName: istio-operator
      containers:
      - name: istio-operator
        image: quay.io/maistra/istio-ubi8-operator:2.5.0
        ports:
        - containerPort: 11999
          name: validation
        - containerPort: 11200
          name: probes
        - containerPort: 60000
          name: metrics
        command:
        - istio-operator
        - --config
        - /etc/operator/olm/config.properties
        imagePullPolicy: Always
        env:
        - name: WATCH_NAMESPACE
          value: ""
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: istio-operator
#        - name: ISTIO_CNI_IMAGE_PULL_SECRET
#          value: name-of-secret
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /readyz
            port: 11200
        volumeMounts:
        - name: operator-olm-config
          mountPath: /etc/operator/olm
          readOnly: true
        - name: webhook-tls-volume
          readOnly: true
          mountPath: /tmp/k8s-webhook-server/serving-certs
        - name: smcp-templates
          readOnly: true
          mountPath: /usr/local/share/istio-operator/templates/
      volumes:
      - name: operator-olm-config
        downwardAPI:
          defaultMode: 420
          items:
          - fieldRef:
              fieldPath: metadata.annotations
            path: config.properties
      - name: webhook-tls-volume
        secret:
          secretName: maistra-operator-serving-cert
          optional: true # this won't be available until service-ca creates the secret
      - name: smcp-templates
        configMap:
          name: smcp-templates
          optional: true
