apiVersion: apps/v1
kind: Deployment
metadata:
  name: istio-operator
  namespace: istio-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: istio-operator
  template:
    metadata:
      labels:
        name: istio-operator
      annotations:
        olm.relatedImage.v1_0.3scale-istio-adapter: quay.io/3scale/3scale-istio-adapter:v1.0.0
        olm.relatedImage.v1_0.citadel: docker.io/maistra/citadel-ubi8:1.0.8
        olm.relatedImage.v1_0.cni: docker.io/maistra/istio-cni-ubi8:1.0.8
        olm.relatedImage.v1_0.galley: docker.io/maistra/galley-ubi8:1.0.8
        olm.relatedImage.v1_0.grafana: docker.io/maistra/grafana-ubi8:1.0.8
        olm.relatedImage.v1_0.mixer: docker.io/maistra/mixer-ubi8:1.0.8
        olm.relatedImage.v1_0.pilot: docker.io/maistra/pilot-ubi8:1.0.8
        olm.relatedImage.v1_0.prometheus: docker.io/maistra/prometheus-ubi8:1.0.8
        olm.relatedImage.v1_0.proxy-init: docker.io/maistra/proxy-init-centos7:1.0.8
        olm.relatedImage.v1_0.proxyv2: docker.io/maistra/proxyv2-ubi8:1.0.8
        olm.relatedImage.v1_0.sidecar-injector: docker.io/maistra/sidecar-injector-ubi8:1.0.8

        olm.relatedImage.v1_1.3scale-istio-adapter: quay.io/3scale/3scale-istio-adapter:v1.0.0
        olm.relatedImage.v1_1.citadel: docker.io/maistra/citadel-ubi8:1.1.1
        olm.relatedImage.v1_1.cni: docker.io/maistra/istio-cni-ubi8:1.1.1
        olm.relatedImage.v1_1.galley: docker.io/maistra/galley-ubi8:1.1.1
        olm.relatedImage.v1_1.grafana: docker.io/maistra/grafana-ubi8:1.1.1
        olm.relatedImage.v1_1.ior: docker.io/maistra/istio-ior-ubi8:1.1.1
        olm.relatedImage.v1_1.mixer: docker.io/maistra/mixer-ubi8:1.1.1
        olm.relatedImage.v1_1.pilot: docker.io/maistra/pilot-ubi8:1.1.1
        olm.relatedImage.v1_1.prometheus: docker.io/maistra/prometheus-ubi8:1.1.1
        olm.relatedImage.v1_1.proxy-init: docker.io/maistra/proxy-init-centos7:1.1.1
        olm.relatedImage.v1_1.proxyv2: docker.io/maistra/proxyv2-ubi8:1.1.1
        olm.relatedImage.v1_1.sidecar-injector: docker.io/maistra/sidecar-injector-ubi8:1.1.1

        olm.relatedImage.v1_2.3scale-istio-adapter: quay.io/3scale/3scale-istio-adapter:v1.0.0
        olm.relatedImage.v1_2.citadel: docker.io/maistra/citadel-ubi8:1.2.0
        olm.relatedImage.v1_2.cni: docker.io/maistra/istio-cni-ubi8:1.2.0
        olm.relatedImage.v1_2.galley: docker.io/maistra/galley-ubi8:1.2.0
        olm.relatedImage.v1_2.grafana: docker.io/maistra/grafana-ubi8:1.2.0
        olm.relatedImage.v1_2.ior: docker.io/maistra/istio-ior-ubi8:1.2.0
        olm.relatedImage.v1_2.mixer: docker.io/maistra/mixer-ubi8:1.2.0
        olm.relatedImage.v1_2.pilot: docker.io/maistra/pilot-ubi8:1.2.0
        olm.relatedImage.v1_2.prometheus: docker.io/maistra/prometheus-ubi8:1.2.0
        olm.relatedImage.v1_2.proxy-init: docker.io/maistra/proxy-init-centos7:1.2.0
        olm.relatedImage.v1_2.proxyv2: docker.io/maistra/proxyv2-ubi8:1.2.0
        olm.relatedImage.v1_2.sidecar-injector: docker.io/maistra/sidecar-injector-ubi8:1.2.0
    spec:
      serviceAccountName: istio-operator
      containers:
      - name: istio-operator
        image: maistra/istio-ubi8-operator:1.1.1
        ports:
        - containerPort: 11999
          name: validation
        - containerPort: 60000
          name: metrics
        command:
        - istio-operator
        - --config
        - /etc/operator/olm/config.properties
        imagePullPolicy: Always
        env:
        - name: WATCH_NAMESPACE
          value: ""
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: istio-operator
#        - name: ISTIO_CNI_IMAGE_PULL_SECRET
#          value: name-of-secret
        volumeMounts:
        - name: operator-olm-config
          mountPath: /etc/operator/olm
          readOnly: true
        - name: webhook-tls-volume
          readOnly: true
          mountPath: /tmp/k8s-webhook-server/serving-certs
      volumes:
      - name: operator-olm-config
        downwardAPI:
          defaultMode: 420
          items:
          - fieldRef:
              fieldPath: metadata.annotations
            path: config.properties
      - name: webhook-tls-volume
        secret:
          secretName: maistra-operator-serving-cert
          optional: true # this won't be available until service-ca creates the secret