apiVersion: v1
data:
  session_secret: ""
kind: Secret
metadata:
  name: grafana-proxy
  namespace: {{ .Release.Namespace }}
  labels:
    maistra-version: "2.0.6.1"
    app: grafana
    release: {{ .Release.Name }}
type: Opaque
