apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: launcher-frontend
  namespace: {{ .Release.Namespace }}
  labels:
    app: fabric8-launcher
    chart: {{ template "launcher.chart" . }}
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
spec:
  to:
    kind: Service
    name: launcher-frontend
    weight: 100
  wildcardPolicy: None
