apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  labels:
    maistra-version: "2.1.0"
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: servicemeshextensions.maistra.io
spec:
  group: maistra.io
  names:
    kind: ServiceMeshExtension
    listKind: ServiceMeshExtensionList
    plural: servicemeshextensions
    singular: servicemeshextension
  preserveUnknownFields: false
  scope: Namespaced
  validation:
    openAPIV3Schema:
      description: ServiceMeshExtension is the Schema for the servicemeshextensions
        API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ServiceMeshExtensionSpec defines the desired state of ServiceMeshExtension
          properties:
            config:
              type: string
            image:
              type: string
            phase:
              description: FilterPhase defines point of injection of Envoy filter
              type: string
            priority:
              type: integer
            workloadSelector:
              description: WorkloadSelector is used to match workloads based on pod
                labels
              properties:
                labels:
                  additionalProperties:
                    type: string
                  type: object
              required:
              - labels
              type: object
          required:
          - phase
          type: object
        status:
          description: ServiceMeshExtensionStatus defines the observed state of ServiceMeshExtension
          properties:
            deployment:
              properties:
                containerSha256:
                  type: string
                ready:
                  type: boolean
                sha256:
                  type: string
                url:
                  type: string
              type: object
            observedGeneration:
              format: int64
              type: integer
            phase:
              description: FilterPhase defines point of injection of Envoy filter
              type: string
            priority:
              type: integer
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []