{{- if and .Values.cni.enabled (has "v2.5" .Values.cni.supportedReleases) (eq .Values.cni.instanceVersion "v2.5") }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.cni.defaultResourceName }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.cni.defaultResourceName }}
subjects:
  - kind: ServiceAccount
    name: {{ .Values.cni.defaultResourceName }}
    namespace: {{ .Release.Namespace }}
{{- end }}
