apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: istio-mixer-admin-role-binding-{{ .Release.Namespace }}
  namespace: {{ .Release.Namespace }}
  labels:
    maistra-version: "2.0.1.1"
    app: istio-telemetry
    release: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: istio-mixer-{{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: istio-mixer-service-account
    namespace: {{ .Release.Namespace }}
---
