apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: istiod-pilot-{{ .Values.revision | default "default" }}
  namespace: {{ .Release.Namespace }}
  labels:
    maistra-version: "2.0.5.2"
    app: pilot
    release: {{ .Release.Name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: istiod-{{ .Values.revision | default "default" }}-{{ .Release.Namespace }}
subjects:
  - kind: ServiceAccount
    name: istiod-service-account-{{ .Values.revision | default "default" }}
    namespace: {{ .Release.Namespace }}
---
