apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: 3scale-istio-adapter
    chart: {{ template "threescale.chart" . }}
    heritage: {{ .Release.Service }}
    maistra-version: 1.1.14
    release: {{ .Release.Name }}
  name: 3scale-istio-adapter
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: 3scale-istio-adapter
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: 3scale-istio-adapter
        chart: {{ template "threescale.chart" . }}
        heritage: {{ .Release.Service }}
        maistra-control-plane: {{ .Release.Namespace }}
        release: {{ .Release.Name }}
    spec:
      serviceAccountName: threescale-service-account
      containers:
      - name: 3scale-istio-adapter
{{- if contains "/" .Values.image }}
        image: "{{ .Values.image }}"
{{- else }}
        image: "{{ .Values.hub }}/{{ .Values.image }}:{{ .Values.tag }}"
{{- end }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.PARAM_THREESCALE_LISTEN_ADDR }}
          protocol: TCP
          name: adapter
        - containerPort: {{ .Values.PARAM_THREESCALE_METRICS_PORT }}
          protocol: TCP
          name: prometheus
        env:
        - name: "THREESCALE_LISTEN_ADDR"
          value: "{{ .Values.PARAM_THREESCALE_LISTEN_ADDR }}"
        - name: "THREESCALE_LOG_LEVEL"
          value: "{{ .Values.PARAM_THREESCALE_LOG_LEVEL }}"
        - name: "THREESCALE_LOG_JSON"
          value: "{{ .Values.PARAM_THREESCALE_LOG_JSON }}"
        - name: "THREESCALE_LOG_GRPC"
          value: "{{ .Values.PARAM_THREESCALE_LOG_GRPC }}"
        - name: "THREESCALE_REPORT_METRICS"
          value: "{{ .Values.PARAM_THREESCALE_REPORT_METRICS }}"
        - name: "THREESCALE_METRICS_PORT"
          value: "{{ .Values.PARAM_THREESCALE_METRICS_PORT }}"
        - name: "THREESCALE_CACHE_TTL_SECONDS"
          value: "{{ .Values.PARAM_THREESCALE_CACHE_TTL_SECONDS }}"
        - name: "THREESCALE_CACHE_REFRESH_SECONDS"
          value: "{{ .Values.PARAM_THREESCALE_CACHE_REFRESH_SECONDS }}"
        - name: "THREESCALE_CACHE_ENTRIES_MAX"
          value: "{{ .Values.PARAM_THREESCALE_CACHE_ENTRIES_MAX }}"
        - name: "THREESCALE_CACHE_REFRESH_RETRIES"
          value: "{{ .Values.PARAM_THREESCALE_CACHE_REFRESH_RETRIES }}"
        - name: "THREESCALE_ALLOW_INSECURE_CONN"
          value: "{{ .Values.PARAM_THREESCALE_ALLOW_INSECURE_CONN }}"
        - name: "THREESCALE_CLIENT_TIMEOUT_SECONDS"
          value: "{{ .Values.PARAM_THREESCALE_CLIENT_TIMEOUT_SECONDS }}"
        - name: "THREESCALE_GRPC_CONN_MAX_SECONDS"
          value: "{{ .Values.PARAM_THREESCALE_GRPC_CONN_MAX_SECONDS }}"
        resources: {}
        terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
