apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: istiod-internal-{{ .Values.revision | default "default" }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "maistra.io/internal": "true"
  labels:
    maistra-version: "2.3.11"
    app: istiod
    release: {{ .Release.Name }}
rules:
# permissions to verify the webhook is ready and rejecting
# invalid config. We use --server-dry-run so no config is persisted.
- apiGroups: ["networking.istio.io"]
  verbs: ["create"]
  resources: ["gateways"]

# For storing CA secret
- apiGroups: [""]
  resources: ["secrets"]
  # TODO lock this down to istio-ca-cert if not using the DNS cert mesh config
  verbs: ["create", "get", "watch", "list", "update", "delete"]

# For status controller, so it can delete the distribution report configmap
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["delete"]

# For MeshFederation support
- apiGroups: ["federation.maistra.io"]
  resources: ["servicemeshpeers", "servicemeshpeers/status", "exportedservicesets", "exportedservicesets/status", "importedservicesets", "importedservicesets/status"]
  verbs: ["get", "list", "watch", "patch", "update"]
