{{- if .Values.jwksResolverExtraRootCA }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-jwks-extra-cacerts
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "pilot.name" . }}
    chart: {{ template "pilot.chart" . }}
    heritage: {{ .Release.Service }}
    maistra-version: 1.1.6
    release: {{ .Release.Name }}
data:
  extra.pem: {{ .Values.jwksResolverExtraRootCA | quote }}
{{- end }}
